.home-bgimg {
    width: 100%;
    height: 100%;
    background: black;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-bgimg h1 {
    color: #ededef;
    font-size: 75px;
}

.home-2nd-p {
    width: 100%;
    height: 200px;
    background: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1000px;
}


.home-2nd-p h1 {
    color: #374052;
    font-size: 50px;
    font-weight: bold;
}

.home-2nd-p h2 {
    font-size: 28px;
    margin-top: 7px;
    color: #6e5b4b;
}


.home-2nd-p button {
    background-color: #374052;
    width: 135px;
    height: 35px;
    border-radius: 5px;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.home-2nd-p button:hover {
    background-color: #2d3442;
}
.btn-text-abt {
    color: white;
    font-size: 18px;
    padding: 7px 45px;
}
.btn-text-abt:hover {
    font-weight: bold;
}

.footer-index {
    width: 100%;
    height: 135px;
    position: absolute;
    background: #ededef;
    margin-top: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-index h1 {
    color: #535353;
    font-size: 25px;
    margin-bottom: 4px;

}
.footer-index-sm ul {
    display: flex;
    flex-direction: row;
}

.footer-nav-1 {
    width: 40px;
    height: 40px;
    background: url(../images/mail-unc.png);
    background-size: cover;
    margin: 10px 0 0 0;
    transition: all 150ms;
    cursor: pointer;
}

.footer-nav-2 {
    width: 40px;
    height: 40px;
    background: url(../images/insta-unc.png);
    background-size: cover;
    margin: 10px 0 0 20px;
    transition: all 150ms;
    cursor: pointer;
}
.footer-nav-3 {
    width: 40px;
    height: 40px;
    background: url(../images/tiktok-unc.png);
    background-size: cover;
    margin: 10px 0 0 20px;
    transition: all 150ms;
    cursor: pointer;
}

.footer-nav-1:hover {
    background: url(../images/mail-c.png);
    background-size: cover;
}

.footer-nav-2:hover {
    background: url(../images/insta-c.png);
    background-size: cover;
}

.footer-nav-3:hover {
    background: url(../images/tiktok-c.png);
    background-size: cover;
}

.footer-nav-btn1, .footer-nav-btn2, .footer-nav-btn3 {
    width: 100%;
    height: 100%;
}

.footer-nav-1-in, .footer-nav-2-in, .footer-nav-3-in {
    width: 100%;
    height: 100%;
}

.about-title-1 {
    width: 100%;
    height: 350px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title-2 {
    width: 100%;
    height: 180px;
    background: #374052;
    margin-top: 15px;
    opacity: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-title-2 h1 {
    color: #ededef;
    font-size: 72px;
    font-weight: bold;
}

.about-container-2 {
    background: white;
    width: 100%;
    height: 468px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-image {
    background: black;
    width: 500px;
    height: 300px;
}

.about-text {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
}

.about-text h2 {
    margin-bottom: 20px;
    color: #374052;
    font-size: 48px;
    font-weight: bold;
}

.about-text p {
    width: 600px;
    height: fit-content;
    font-size: 20px;
    color: #535353;
}

.footer-about {
    width: 100%;
    height: 135px;
    position: absolute;
    background: #ededef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-about h1 {
    color: #535353;
    font-size: 25px;
    margin-bottom: 4px;
}

.footer-about-sm ul {
    display: flex;
    flex-direction: row;
}

.applications-title-1 {
    width: 100%;
    height: 350px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.applications-title-2 {
    width: 100%;
    height: 180px;
    background: #374052;
    margin-top: 15px;
    opacity: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.applications-title-2 h1 {
    color: #ededef;
    font-size: 72px;
    font-weight: bold;
}

.temp-applications-coming-soon {
    width: 100%;
    height: 100px;
    background: #374052;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temp-applications-coming-soon h1 {
    color: #ededef;
    font-size: 40px;
}

.applications-container-1 {
    width: 100%;
    height: 368px;
}

.ourlegacy-title-1 {
    width: 100%;
    height: 350px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourlegacy-title-2 {
    width: 100%;
    height: 180px;
    background: #374052;
    margin-top: 15px;
    opacity: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourlegacy-title-2 h1 {
    color: #ededef;
    font-size: 72px;
    font-weight: bold;
}

.ourlegacy-container-1 {
    width: 100%;
    height: 450px;
    background: #374052;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.ourlegacy-vid-title {
    width: 100%;
    height: 426px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourlegacy-vid {
    width: 650px;
    height: 400px;
    background: black;
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.ourlegacy-vid-txt {
    color: #ededef;
    font-size: 14px;
    width: 100%;
    text-align: center;
    background-color: black;
    backdrop-filter: blur(20px);
    padding-bottom: 2px;
}

.ourlegacy-t {
    color: #ededef;
    font-size: 52px;
    margin-left: 10px;
}

.ourlegacy-t span {
    margin-left: 115px;
}

.ourlegacy-breaking-line-1 {
    width: 75%;
    height: 2px;
    background: #ededef;
    z-index: 101;
    margin-top: 15px;
}

/* ARKISMUN XIII */

.ourlegacy-container-2 {
    background: white;
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourlegacy-container-2-title-container {
    width: 100%;
    height: 80px;
    background: #374052;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourlegacy-container-2-title-container h1 {
    color: #ededef;
    font-size: 32px;
}

.ourlegacy-container-2-picture {
    background: black;
    width: 1200px;
    height: 520px;
    margin-top: 15px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.ourlegacy-container-2-picture-txt {
    color: #ededef;
    background: black;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(20px);
    padding-bottom: 2px;
    font-size: 14px;
}

.ourlegacy-container-2-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourlegacy-container-2-section-txt {
    display: flex;
    flex-direction: column;
    width: 36%;
    margin-right: 30px;
}

.ourlegacy-container-2-section-txt h1 {
    color: #374052;
    font-size: 48px;
    font-weight: bold;
}

.ourlegacy-container-2-section-txt p1 {
    color: #535353;
    font-size: 20px;
    margin: 10px 0;
}

.ourlegacy-container-2-section-txt p1 span {
    color:#374052;
}

.ourlegacy-container-2-section-txt h2 {
    color: #374052;
    font-size: 32px;
    font-weight: bold;
}

.ourlegacy-container-2-section-txt p2 {
    color: #535353;
    font-size: 20px;
    margin: 10px 0;
}

.ourlegacy-container-2-picture-2 {
    background: black;
    width: 520px;
    height: 350px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.ourlegacy-container-2-picture-txt-2 {
    color: #ededef;
    text-align: center;
    font-size: 14px;
    width: 100%;
    padding-bottom: 2px;
    backdrop-filter: blur(20px);
}

.ourlegacy-container-2-pressdrive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 220px;
}

.ourlegacy-container-2-pressdrive h1 {
    color: #374052;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
}

.ourlegacy-container-2-pressdrive button {
    background: #374052;
    width: 50%;
    height: 44px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ourlegacy-container-2-pressdrive-text {
    color:#ededef;
    font-size: 22px;
}

/* ARKISMUN XIII */

/* ARKISMUN XII */
.ourlegacy-container-3 {
    background: white;
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourlegacy-container-3-title-container {
    width: 100%;
    height: 80px;
    background: #374052;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourlegacy-container-3-title-container h1 {
    color: #ededef;
    font-size: 32px;
}

.ourlegacy-container-3-picture {
    background: black;
    width: 1200px;
    height: 520px;
    margin-top: 15px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.ourlegacy-container-3-picture-txt {
    color: #ededef;
    background: black;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(20px);
    padding-bottom: 2px;
    font-size: 14px;
}

.ourlegacy-container-3-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourlegacy-container-3-section-txt {
    display: flex;
    flex-direction: column;
    width: 36%;
    margin-left: 30px;
    order: 2;
}

.ourlegacy-container-3-section-txt h1 {
    color: #374052;
    font-size: 48px;
    font-weight: bold;
}

.ourlegacy-container-3-section-txt p1 {
    color: #535353;
    font-size: 20px;
    margin: 10px 0;
}

.ourlegacy-container-3-section-txt p1 span {
    color:#374052;
}

.ourlegacy-container-3-section-txt h2 {
    color: #374052;
    font-size: 32px;
    font-weight: bold;
}

.ourlegacy-container-3-section-txt p2 {
    color: #535353;
    font-size: 20px;
    margin: 10px 0;
}

.ourlegacy-container-3-picture-2 {
    background: black;
    width: 520px;
    height: 350px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.ourlegacy-container-3-picture-txt-2 {
    color: #ededef;
    text-align: center;
    font-size: 14px;
    width: 100%;
    padding-bottom: 2px;
    backdrop-filter: blur(20px);
}

.ourlegacy-container-3-pressdrive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 220px;
}

.ourlegacy-container-3-pressdrive h1 {
    color: #374052;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    order: 2;
    margin-right: 75px;
}

.ourlegacy-container-3-pressdrive button {
    background: #374052;
    width: 50%;
    height: 44px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ourlegacy-container-3-pressdrive-text {
    color:#ededef;
    font-size: 22px;
}
/* ARKISMUN XII */

/* ARKISMUN XI */
.ourlegacy-container-4 {
    background: white;
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourlegacy-container-4-title-container {
    width: 100%;
    height: 80px;
    background: #374052;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourlegacy-container-4-title-container h1 {
    color: #ededef;
    font-size: 32px;
}

.ourlegacy-container-4-picture {
    background: black;
    width: 1200px;
    height: 520px;
    margin-top: 15px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.ourlegacy-container-4-picture-txt {
    color: #ededef;
    background: black;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(20px);
    padding-bottom: 2px;
    font-size: 14px;
}

.ourlegacy-container-4-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourlegacy-container-4-section-txt {
    display: flex;
    flex-direction: column;
    width: 36%;
    margin-right: 30px;
}

.ourlegacy-container-4-section-txt h1 {
    color: #374052;
    font-size: 48px;
    font-weight: bold;
}

.ourlegacy-container-4-section-txt p1 {
    color: #535353;
    font-size: 20px;
    margin: 10px 0;
}

.ourlegacy-container-4-section-txt p1 span {
    color:#374052;
}

.ourlegacy-container-4-section-txt h2 {
    color: #374052;
    font-size: 32px;
    font-weight: bold;
}

.ourlegacy-container-4-section-txt p2 {
    color: #535353;
    font-size: 20px;
    margin: 10px 0;
}

.ourlegacy-container-4-picture-2 {
    background: black;
    width: 520px;
    height: 350px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.ourlegacy-container-4-picture-txt-2 {
    color: #ededef;
    text-align: center;
    font-size: 14px;
    width: 100%;
    padding-bottom: 2px;
    backdrop-filter: blur(20px);
}

.ourlegacy-container-4-pressdrive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 220px;
}

.ourlegacy-container-4-pressdrive h1 {
    color: #374052;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
}

.ourlegacy-container-4-pressdrive button {
    background: #374052;
    width: 50%;
    height: 44px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ourlegacy-container-4-pressdrive-text {
    color:#ededef;
    font-size: 22px;
}
/* ARKISMUN XI */

/* KMUN X */

.ourlegacy-container-5 {
    background: white;
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ourlegacy-container-5-title-container {
    width: 100%;
    height: 80px;
    background: #374052;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourlegacy-container-5-title-container h1 {
    color: #ededef;
    font-size: 32px;
}

.ourlegacy-container-5-picture {
    background: black;
    width: 1200px;
    height: 520px;
    margin-top: 15px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.ourlegacy-container-5-picture-txt {
    color: #ededef;
    background: black;
    width: 100%;
    text-align: center;
    backdrop-filter: blur(20px);
    padding-bottom: 2px;
    font-size: 14px;
}

.ourlegacy-container-5-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ourlegacy-container-5-section-txt {
    display: flex;
    flex-direction: column;
    width: 36%;
    margin-left: 30px;
    order: 2;
}

.ourlegacy-container-5-section-txt h1 {
    color: #374052;
    font-size: 48px;
    font-weight: bold;
}

.ourlegacy-container-5-section-txt p1 {
    color: #535353;
    font-size: 20px;
    margin: 10px 0;
}

.ourlegacy-container-5-section-txt p1 span {
    color:#374052;
}

.ourlegacy-container-5-section-txt h2 {
    color: #374052;
    font-size: 32px;
    font-weight: bold;
}

.ourlegacy-container-5-section-txt p2 {
    color: #535353;
    font-size: 20px;
    margin: 10px 0;
}

.ourlegacy-container-5-picture-2 {
    background: black;
    width: 520px;
    height: 350px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.ourlegacy-container-5-picture-txt-2 {
    color: #ededef;
    text-align: center;
    font-size: 14px;
    width: 100%;
    padding-bottom: 2px;
    backdrop-filter: blur(20px);
}

.ourlegacy-container-5-pressdrive {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    height: 220px;
}

.ourlegacy-container-5-pressdrive h1 {
    color: #374052;
    font-size: 28px;
    font-style: italic;
    font-weight: bold;
    order: 2;
    margin-right: 75px;
}

.ourlegacy-container-5-pressdrive button {
    background: #374052;
    width: 50%;
    height: 44px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.ourlegacy-container-5-pressdrive-text {
    color:#ededef;
    font-size: 22px;
}
/* KMUN X */